header, footer, section, hgroup, aside, nav, article, figure, figcaption, time, dialog {
    display: block;
}

* {
    outline: none;
}

p, div, body, html {
    margin: 0;
    padding: 0;
}

html {
    background: $bg-primary-color;
    font-size: $font-size;
    color: $secondary-color;
    width: 100%;
    font-family: $font-family;
}

p {
    margin: 15px 0;
}

a {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
a, a:link, a:visited {
    color: $link-color;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    color: $link-hover-color;
    text-decoration: underline;
}

code, kbd, pre, samp {
    font-family: $font-family-code;
    color: $tertiary-color;
}
pre {
    display: block;
    padding: 5px;
    color: $secondary-color;
    word-break: break-all;
    word-wrap: break-word;
    background-color: $bg-secondary-color;
    border: 1px solid $border-primary-color;
    border-radius: 4px;
}
pre code {
    padding: 0;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

em {
    font-style: italic;
}
em.tag {
    font-style: normal;
    font-weight: 700;
    background: #EEE;
    border-radius: 2px;
    padding: 4px 10px;
    display: inline-block;
    margin: 4px 3px 2px;
}

h1 {
    font-size: 1.8em;
    text-align: center;
}

#header {
    padding: 55px 0 35px;
    font-family: $font-family-title;
    border-top: 5px solid $primary-color;
    border-bottom: 1px solid $border-primary-color;

    #logo a {
        margin: 0;
        font-size: 31px;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: 900;
        text-decoration: none;
        line-height: 0;
        span {
            font-size: 12px;
            margin-left: 20px;
            color: $secondary-color;
        }
    }

    #menu {
        float: right;
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                display: inline-block;
                a {
                    font-size: 14px;
                    font-weight: 900;
                    padding: 15px 0;
                    border-bottom: 3px solid transparent;
                    margin: 0px 10px;
                    font-family: $font-family-title;
                    text-decoration: none;
                    color: $secondary-color;
                }
            }
            li.active a, li:hover a {
                color: $primary-color;
                border-bottom: 3px solid $primary-color;
                -webkit-transition: all 0.5s ease 0s;
                -moz-transition: all 0.5s ease 0s;
                transition: all 0.5s ease 0s;
            }
        }
    }
}

.hachures {
    background: url("/static/images/hachures.png") repeat $bg-header-color;
    width: 100%;
}

.container {
    width: auto;
    max-width: 1100px;
    /* min-width: 800px; */
    margin: 0 auto;
}
.container:after, .container:before {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0px;
    line-height: 0;
    width: 0px;
    height: 0px;
    clear: both;
}

.page-content {
    margin-top: 60px;
}

section.section {
    padding: 20px 50px;
    background-color: $bg-secondary-color;
    border: 1px solid $border-secondary-color;
    margin-bottom: 30px;
    header.post-header {
        margin: 0px 0px 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid $border-primary-color;
    }
    footer.post-footer {
        border-top: 3px solid $border-secondary-color;
        margin-top: 35px;
        padding-top: 20px;
        text-align: center;
        font-size: 90%;
    }
}
