.site-header {
    background: $background-color-header;
    padding: ($spacing-unit / 3) 0 ($spacing-unit / 3);
    color: $text-color-header;

    a.site-title {
        color: $brand-color-header-logo;
        text-shadow: 2px 1px 4px $red-color-border;
        font-weight: bold;

        &:visited {
            color: $brand-color-header-logo;
        }

        &:hover {
            color: $text-color-header;
            text-decoration: none;
        }
    }

    .site-nav {
        float: right;

        a {
            color: $brand-color-header;
            font-size: 85%;
            margin-left: $spacing-unit;

            &:visited {
                color: $brand-color-header;
            }

            &:hover {
                color: $text-color-header;
                text-decoration: none;
            }
        }
    }
}

.page-content {
    .wrapper {
        border-left: 1px solid $grey-color-border;
        border-right: 1px solid $grey-color-border;
        background-color: #fff;
    }

    .post {
        overflow: hidden;
        padding: ($spacing-unit * 1.5) ($spacing-unit * 3);

        .post-header {
            padding: $spacing-unit 0;
            margin-bottom: $spacing-unit;

            .post-title {
                text-align: center;
                margin-bottom: $spacing-unit;
            }

            .post-details {
                color: $red-color;//$grey-color;
                font-size: $small-font-size;
                border-bottom: 1px solid $red-color-border;
                @extend %clearfix;

                .post-meta {
                    float: left;
                }
                .post-share {
                    float: right;
                }
            }
        }
    }
}
