.site-header {
    padding: ($spacing-unit / 1.5) 0 ($spacing-unit / 2);
    font-family: "Trebuchet MS",Tahoma,Helvetica,Arial,sans-serif;
    border-top: 5px solid $red-color;
    border-bottom: 1px solid #CFCFCF;
    background: url("/static/images/hachures.png") repeat #F5F5F5;

    a.site-title {
        //color: $brand-color-header-logo;
        text-shadow: 2px 1px 4px $black-color-transparent;
        font-weight: bold;
        font-size: $font-size * 1.7;
        display: inline-block;
        margin-top: 3px;

        &:visited {
            //color: $brand-color-header-logo;
        }

        &:hover {
            //color: $text-color-header;
            text-decoration: none;
        }
    }

    .menu {
        float: right;
        line-height: 1;

        .author {
            color: $red-color;
            font-size: $font-size;
            text-align: center;
            margin-bottom: $spacing-unit / 4;
            font-weight: bold;
        }

        a {
            color: $text-color;
            margin-left: $spacing-unit / 2.5;
            font-size: $font-size * 0.9;

            &:first-child {
                margin-left: 0;
            }

            &:visited {
                color: $text-color;
            }

            &:hover {
                color: $brand-color;
                text-decoration: none;
            }
        }

        .site-nav {
            text-align: center;

            a {
                margin-left: $spacing-unit / 1.5;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.page-content {
    .wrapper {
        border-left: 1px solid $grey-color-border;
        border-right: 1px solid $grey-color-border;
        background-color: #fff;
    }

    .post {
        overflow: hidden;
        padding: ($spacing-unit * 1.5) ($spacing-unit * 3);

        .post-header {
            padding: $spacing-unit 0;
            margin-bottom: $spacing-unit;

            .post-title {
                text-align: center;
                margin-bottom: $spacing-unit;
            }

            .post-details {
                color: $red-color;//$grey-color;
                font-size: $small-font-size;
                border-bottom: 1px solid $red-color-border;
                @extend %clearfix;

                .post-meta {
                    float: left;
                }
                .post-share {
                    float: right;
                }
            }
        }
    }
}
