<header id="header" class="hachures">
    <div class="container">
        <div id="logo" style="float: left">
            <a href="http://www.dewep.net">Dewep.net<br/><span>Aurélien Maigret</span></a>
        </div>
        <nav id="menu">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/Blog/">Blog</a></li>
                <li><a href="https://github.com/Dewep/" target="_blank">GitHub</a></li>
                <li><a href="http://www.twitter.com/Dewep_net" target="_blank">Twitter</a></li>
                <li><a href="https://www.linkedin.com/in/aurelienmaigret" target="_blank">LinkedIn</a></li>
                <li><a href="mailto:dewep.net@gmail.com">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
