---
---
@charset "utf-8";

$font-family: "Open Sans", Helvetica, Arial, sans-serif;
//$font-family-title: "Trebuchet MS", $font-family;
$font-family-title: 'Lato', sans-serif;
$font-family-code: 'Source Code Pro', Consolas, "Courier New", monospace;
$font-size: 16px;
$font-size-code: 15px;

$primary-color: #B9230F;
$secondary-color: #333333;
$tertiary-color: #666666;
$bg-primary-color: #F5F5F5;
$bg-secondary-color: #FFFAFA;
$border-primary-color: #CFCFCF;
$border-secondary-color: #EEEEEE;

$bg-header-color: $bg-secondary-color;
$title-color: $primary-color;
$link-color: $primary-color;
$link-hover-color: $secondary-color;

$on-mobile: 600px;
$on-computer: 1200px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Lato:900|Source+Code+Pro:400,700");
@import "base", "syntax-highlighting";
